.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}
.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
