.toolbar-button {
  color: #ffa31a;
  font-size: 28px;
  transition: all 0.1s;
}

.toolbar-button:hover {
  cursor: pointer;
  color: #e68a00;
}

.toolbar-button:active {
  color: #ffa31a;
  opacity: 0.25;
}
