.emojiPicker {
  position: absolute;
  bottom: 64px;
  right: 0px;
  float: right;
  margin-left: 200px;
}

.getEmojiButton {
  float: right;
  border: none;
  margin: 0;
  cursor: pointer;
}

.compose {
  grid-area: compose;
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: sticky;
  width: 100%;
  bottom: 0px;
}

@supports {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  width: 100%;
  background: none;
  padding: 10px;
  margin-left: 20px;
  border-radius: 40px;
  background-color: #d9d9d9;
}

.options {
  background-color: inherit;
  border: none;
  padding: none;
}

.compose-input::placeholder {
  opacity: 1;
}

.compose .toolbar-button {
  color: #8a8a5c;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #4d4d33;
}

.compose .toolbar-button:hover {
  color: #99999c;
}
